<div class="row">
  <div _ngcontent-esn-c31="" class="col-lg-6">
    <div _ngcontent-esn-c31="" class="card">
      <div _ngcontent-esn-c31="" class="card-body">
        <h4 _ngcontent-esn-c31="" class="card-title">
          Registro de Materia
        </h4>
        <form _ngcontent-esn-c31="" class="form p-t-20"
        [formGroup]="aulaForm"
        (submit)="registrar()">
          <div _ngcontent-esn-c31="" class="form-group">
            <label _ngcontent-esn-c31="" for="exampleInputuname"
            >Nombre Materia</label
            >
            <div _ngcontent-esn-c31="" class="input-group">
              <div _ngcontent-esn-c31="" class="input-group-addon">
                <i _ngcontent-esn-c31="" class="ti-user"></i>
              </div>
              <input
                _ngcontent-esn-c31=""
                type="text"
                id="exampleInputuname"
                placeholder="Username"
                class="form-control"
                formControlName="nombre"
              />
            </div>
          </div>

          <button
            _ngcontent-esn-c31=""
            [disabled]="!aulaForm.valid"
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            Submit
          </button
          >
          <button
            _ngcontent-esn-c31=""
            type="submit"
            class="btn btn-inverse waves-effect waves-light"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
