<div class="row">
  <div _ngcontent-esn-c31="" class="col-lg-6">
    <div _ngcontent-esn-c31="" class="card">
      <div _ngcontent-esn-c31="" class="card-body">
        <h4 _ngcontent-esn-c31="" class="card-title">
          Sample Form with the Icons
        </h4>
        <h6 _ngcontent-esn-c31="" class="card-subtitle">
          made with bootstrap elements
        </h6>
        <form _ngcontent-esn-c31="" class="form p-t-20">
          <div _ngcontent-esn-c31="" class="form-group">
            <label _ngcontent-esn-c31="" for="exampleInputuname"
            >User Name</label
            >
            <div _ngcontent-esn-c31="" class="input-group">
              <div _ngcontent-esn-c31="" class="input-group-addon">
                <i _ngcontent-esn-c31="" class="ti-user"></i>
              </div>
              <input
                _ngcontent-esn-c31=""
                type="text"
                id="exampleInputuname"
                placeholder="Username"
                class="form-control"
              />
            </div>
          </div>
          <div _ngcontent-esn-c31="" class="form-group">
            <label _ngcontent-esn-c31="" for="exampleInputEmail1"
            >Email address</label
            >
            <div _ngcontent-esn-c31="" class="input-group">
              <div _ngcontent-esn-c31="" class="input-group-addon">
                <i _ngcontent-esn-c31="" class="ti-email"></i>
              </div>
              <input
                _ngcontent-esn-c31=""
                type="email"
                id="exampleInputEmail1"
                placeholder="Enter email"
                class="form-control"
              />
            </div>
          </div>
          <div _ngcontent-esn-c31="" class="form-group">
            <label _ngcontent-esn-c31="" for="pwd1">Password</label>
            <div _ngcontent-esn-c31="" class="input-group">
              <div _ngcontent-esn-c31="" class="input-group-addon">
                <i _ngcontent-esn-c31="" class="ti-lock"></i>
              </div>
              <input
                _ngcontent-esn-c31=""
                type="password"
                id="pwd1"
                placeholder="Enter email"
                class="form-control"
              />
            </div>
          </div>
          <div _ngcontent-esn-c31="" class="form-group">
            <label _ngcontent-esn-c31="" for="pwd2">Confirm Password</label>
            <div _ngcontent-esn-c31="" class="input-group">
              <div _ngcontent-esn-c31="" class="input-group-addon">
                <i _ngcontent-esn-c31="" class="ti-lock"></i>
              </div>
              <input
                _ngcontent-esn-c31=""
                type="password"
                id="pwd2"
                placeholder="Enter email"
                class="form-control"
              />
            </div>
          </div>
          <div _ngcontent-esn-c31="" class="form-group">
            <div _ngcontent-esn-c31="" class="checkbox checkbox-success">
              <input
                _ngcontent-esn-c31=""
                id="checkbox1"
                type="checkbox"
              /><label _ngcontent-esn-c31="" for="checkbox1">
              Remember me
            </label>
            </div>
          </div>
          <button
            _ngcontent-esn-c31=""
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            Submit
          </button
          >
          <button
            _ngcontent-esn-c31=""
            type="submit"
            class="btn btn-inverse waves-effect waves-light"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
